{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "func-names": ["error", "never"],
    "no-console": 0
  }
}
